/* 
    Created on : Mar 7, 2017, 6:02:03 PM
    Author     : sgunjur
*/

.ox-prompt-train {
    background-color: #FFFFFF;
    /*background-color: rgba(216, 225, 229, 1);*/
    position: fixed;
    width: 100%;
    height: 65px;
    top: 80px;
    z-index: 9997;
}

.ox-prompt-train .oj-train-wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*.ox-prompt-train .oj-train-connector{
    background-color: #00758f !important;
}*/

.oj-train-button.oj-default {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

.ox-prompt-train .oj-train-connector-fill{
    background-color: #f80000 !important;
    /*background-color: #00758f !important;*/
    width:0%;
}

.ox-prompt-train .oj-train-step-list-item a{
    color: #000;
/*    color: #00758f;*/
    font-weight:bold;
/*        font-size: 10px;*/
}

.ox-prompt-train .oj-train-button-connector{
    background-color: #f80000;
    /*background-color: #00758f;*/
}

.ox-prompt-train .oj-train-button.oj-selected {
    border-color: #f80000;
    background-color: #f80000;
/*    border-color: #00758f;
    background-color: #00758f;*/
}
