<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="oj-flex">
    <div class="nav-profile oj-sm-12 oj-flex-item">
        Profile related content
    </div>
    <div class="nav-list oj-sm-12 oj-flex-item">
        <ul>
            <li>DASHBOARD</li>
            <li>SERVICE</li>
            <li>LEARNING</li>
            <li>SETTINGS</li>
        </ul>
    </div>
</div>
