<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="navigation-left oj-flex">
    <div class="oj-sm-12 oj-flex-item">
        <!--<a id="navClose" data-bind="click: toggleLeft"><i class="material-icons">close</i></a>-->
        <ul class="nav-list">
            <li id="dashboard" data-bind="click: routeTo">
                <div class="oj-flex-bar">
                    <div class="oj-flex-bar-start"><i class="material-icons">home</i><span>Dashboard</span></div>
                </div>
            </li>
            <li id="useCases" data-bind="click: routeTo">
                <div class="oj-flex-bar">
                    <div class="oj-flex-bar-start"><span>Use Cases</span></div>
                </div>
            </li>
            <li id="resources">
                <div class="oj-flex-bar" data-bind="click: toggleResourcesType">
                    <div class="oj-flex-bar-start"><span>Resources</span></div>
                    <div class="oj-flex-bar-end"><i id="resourcesToggle" class="material-icons">keyboard_arrow_down</i></div>
                </div>
                <div class="oj-sm-12 oj-flex-item">
                    <ul id="resourcesType" class="nav-list oj-sm-hide">
                        <li class="sub-nav">
                            <div class="sub-nav-content oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center" >
                                <div class="oj-flex-item"><span>Get Started</span></div>
                            </div>
                        </li>
                        <li class="sub-nav">
                            <div class="sub-nav-content oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center" >
                                <div class="oj-flex-item"><span>FAQ's</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="oj-flex-bar" data-bind="click: toggleContactType">
                    <div class="oj-flex-bar-start"><span>Contact</span></div>
                    <div class="oj-flex-bar-end"><i id="contactToggle" class="material-icons">keyboard_arrow_down</i></div>
                </div>
                <div class="oj-sm-12 oj-flex-item">
                    <ul id="contactType" class="nav-list oj-sm-hide">
                        <li id="email" class="sub-nav" data-bind="click: capturedEvent">
                            <div class="sub-nav-content oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center" >
                                <div class="oj-flex-item"><i class="material-icons left">email</i></div>
                                <div class="oj-flex-item"><span>Email</span></div>
                            </div>
                        </li>
                        <li id="phone" class="sub-nav" data-bind="click: capturedEvent">
                            <div class="sub-nav-content oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center" >
                                <div class="oj-flex-item"><i class="material-icons left">phone</i></div>
                                <div class="oj-flex-item"><span>Call</span></div>
                            </div>
                        </li>
                        <li id="chat" class="sub-nav" data-bind="click: capturedEvent">
                            <div class="sub-nav-content oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center" >
                                <div class="oj-flex-item"><i class="material-icons left">chat</i></div>
                                <div class="oj-flex-item"><span>Chat</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="logout" data-bind="click: capturedEvent">
                <div class="oj-flex-bar">
                    <div class="oj-flex-bar-start"><span><a style="color: #324b5c;" data-bind="click: logout">Logout</a></span></div>
                </div>
            </li>
        </ul>
    </div>
</div>
