<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="navigation-left oj-flex">
    <div class="nav-profile oj-sm-12 oj-flex-item">
        <div class="oj-sm-justify-content-center oj-flex"><img src="img/login_man_face.png" alt="Login Face" class="loginFace"/>
            <p class="oj-sm-justify-content-center oj-flex">Jim Smith</p>
        </div> 
    </div>
    <div class="nav-list oj-sm-12 oj-flex-item">
        <ul>
            <li id="dashboard" data-bind="click: $parent.routeTo">
                <div class="item-list-title">
                    <span data-bind="text: 'DASHBOARD'"></span>
                </div>
            </li>
            <li id="service" data-bind="click: $parent.routeTo">
                <div class="item-list-title">
                    <span data-bind="text: 'SERVICE'"></span>
                </div>
            </li>
            <li id="learning" data-bind="click: $parent.routeTo">
                <div class="item-list-title">
                    <span data-bind="text: 'LEARNING'"></span>
                </div>
            </li>
            <li id="settings" data-bind="click: $parent.routeTo">
                <div class="item-list-title">
                    <span data-bind="text: 'SETTINGS'"></span>
                </div>
            </li>
        </ul>
    </div>
    <div class="oj-sm-12 oj-flex-item">
        <div class="logout oj-sm-justify-content-center oj-flex">
            <span data-bind="click: $parent.logout, text: 'LOGOUT'">LOGOUT</span>
        </div>
    </div>
</div>
