<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="oj-flex">     
     <div class="nav-list-right oj-sm-12 oj-flex-item">
         <ul>
             <li id="csm" >
                 <div class="item-list-title">
                     <img src="img/rigthtNav_csmHead.png"/>
                 </div>
             </li>
             <li id="csm" >
                 <div class="item-list-title">
                     <img src="img/rigthtNav_call.png"/>
                 </div>
             </li>
             <li id="csm" >
                 <div class="item-list-title">
                     <img src="img/rigthtNav_chat.png"/>
                 </div>
             </li>
         </ul>
    </div>
</div>
