

<div class="navigation-left oj-flex">     
    <div class="nav-list-right oj-sm-12 oj-flex-item">
        <ul>
            <li id="csm" >
                <div class="item-list-title">
                    <img src="img/rigthtNav_csmHead.png"/>
                </div>
            </li>
            <li id="call" >
                <div class="item-list-title">
                    <img src="img/rigthtNav_call.png"/>
                </div>
            </li>
            <li id="chat" >                               
                <div id="myChatLinkContainer" class="item-list-title">
                    <div id="myChatLink">
                        <div id="myChatLinkInfo">
                            <img id="chat" alt="chat" src="img/rigthtNav_chat.png"/>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
    <iframe id="chat_frame" src="" style="min-height:600px; min-width:200;visibility: visible;"> </iframe>
    