/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2017, 4:25:32 PM
    Author     : shiva
*/

/*@media print and (orientation: landscape), screen and (max-width: 767px){
    .tech-support-container {
        right: -30px !important;
        overflow-y: auto;
    }
    
    
    .tech-support-container .navContainer input, .tech-support-container .navContainer textArea{
        width: 91% !important;
    }

}*/


@media print and (orientation: portrait), screen and (max-width: 767px){
    .tech-support-container {
/*        right: -30px !important;*/
        height: calc(100% - 85px);
        overflow-y: auto;
        z-index: 9998;
    }
    .tech-support-container .phoneContainer {
        width: 100% !important;
    }
    .tech-support-container .phone-submit-btn.oj-button,
    .tech-support-container .phone-submit-btn.oj-button.oj-hover{
        padding: 0px 38px !important;
        margin-right: 10px !important;
    }

    .tech-support-container .material-icons {
           padding: 10px !important;
           margin-right: 10px !important;
    }
     .square .material-icons
    {
            right: -8px !important;
    }
    .tech-support-container .phone-submit-btn.oj-button,
    .tech-support-container .phone-submit-btn.oj-button.oj-hover{
        margin-top: 10px !important;
    }
    
    .phoneContainer .form-background {
       padding: 15px !important;
    }

}

@media screen and (max-width: 320px){
    .tech-support-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-top: 6px !important;
    }
    .tech-support-container .email-submit-btn.oj-button,
    .tech-support-container .email-submit-btn.oj-button.oj-hover{
        margin-top: 10px !important;
    }
    .tech-support-container .navContainer input, .tech-support-container .navContainer textArea{
        margin-top: 10px !important; 
        line-height: none !important;
/*        width: 85% !important;*/
    }
    .tech-support-container .material-icons {
            padding: 10px !important;
            margin-right: 10px !important;
    }
    .square .material-icons
    {
        right: -8px !important;
        top: 9px !important;
        width: 10px !important;
    }
    
    .tech-support-container .phone-submit-btn.oj-button,
    .tech-support-container .phone-submit-btn.oj-button.oj-hover{
        padding: 0px 23px !important;
        margin-right: 15px !important;
    }


}

.tech-support-container {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.tech-support-container .send-button {
    background-color: #F80000;
    display: inline-block;
    text-align: center;
    border-radius: 27px;
    background-image: none !important;
    color: #fff;
    font-size: 16px;
    line-height: 2rem;
    cursor: pointer;
    width:100%;
    padding: 0px 20px 0px 20px;

}

.tech-support-container .material-icons {
    font-size: 30px;
    padding: 20px;
    color: #324b5c;
    border-bottom: 1px solid #F80000;
    transition: left 0.3s ease-in-out 0s;
    -webkit-transition: left 0.3s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s;
    background: -moz-linear-gradient(top, rgba(50, 75, 92, 0.24) 0%, rgba(138, 173, 191, 0.24) 100%);
    background: -webkit-linear-gradient(top, rgba(50, 75, 92, 0.24) 0%, rgba(138, 173, 191, 0.24) 100%);
    background: linear-gradient(to bottom, rgba(50, 75, 92, 0.24) 0%, rgba(138, 173, 191, 0.24) 100%);
}

.tech-support-container .material-icons.close-button {
    background: none;
    color: #F80000;
    border-bottom: none;
}


.tech-support-container .navContainer{
    margin-bottom: 30px;
}

.tech-support-container .navContainer a{
    cursor : pointer;
}

.tech-support-container .navContainer input, .tech-support-container .navContainer textArea{
    border: none;
    padding: 15px;
    background-color: #eaeef0;
/*    width: 90%;*/
width: calc(100% - 30px);
    margin-top: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 1.428571429;
}

.tech-support-container .navContainer textArea{
    height: auto;
}

.tech-support-container .email-submit-btn.oj-button,
.tech-support-container .email-submit-btn.oj-button.oj-hover{
/*    margin-right: 27px;*/
    margin-top: 45px;
    font-size: 18px;
    padding: 0px 45px;
    height: 40px;
    border-radius: 27px;
    background-image: none !important;
    background-color: #ee4f50;
    color: #fff;
}

.tech-support-container .phone-submit-btn.oj-button,
.tech-support-container .phone-submit-btn.oj-button.oj-hover{
    margin-top: 45px;
    font-size: 18px;
    margin-right: 15px;
    padding: 0px 43px;
    height: 40px;
    border-radius: 27px;
    background-image: none !important;
    background-color: #ee4f50;
    color: #fff;
}



.tech-support-container .email-submit-btn.oj-button.oj-hover, 
.tech-support-container .email-submit-btn.oj-button.oj-focus,
.tech-support-container .email-submit-btn.oj-button.oj-focus-highlight {
    border: 1px solid transparent !important;
}

.tech-support-container .navContainer input:active{
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.tech-support-container .phoneContainer {
    width: 100%;
}

.tech-support-container .phoneContainer h4{
    font-size: 22px;
    color: #00758f;
}

.phoneContainer .form-background{
    background-color: #eaeef0;
    margin-top: 30px;
    padding: 30px;
}

.phoneContainer .form-background h4,
.phoneContainer .form-background p{
    text-align: center;
}

.phoneContainer .form-background p
{
    font-size: 14px;
}
.chatContainer{
    width:100%;
    min-height: 510px;
}

.chatContainer .square{
    position:relative;
}

.square .material-icons
{
    background: #f80000;
    color: #fff;
    width: 22px;
    height: 25px;
    padding: 8px 24px 17px 6px !important;
    position: absolute;
    right: 0;
    top: 19px;
    cursor: pointer;
}

.tech-support-container .navContainer a{
    color: transparent !important;
}

.tech-support-container .oj-messaging-inline-container .oj-message.oj-message-error {
     background-color: transparent; 
     border-color: transparent; 
}
.tech-support-container .oj-messaging-inline-container .oj-message {
     padding: 0px; 
     border-style: none; 
     border-width: 0px; 
}
.tech-support-container .oj-message-detail {
    color: red;
    white-space: normal;
}




