<div id="tech_support" class="tech-support-container oj-xl-3 oj-lg-4 oj-sm-11 oj-md-11" data-bind="visible: $props.isPanelVisible">
    <div class="oj-flex oj-sm-flex-direction-column navContainer">
        <div class="oj-flex-item">
<!--            <a data-bind="click: viewChatContent">
                <i id="chatIcon" class="material-icons" style="opacity: 1;" data-bind="css: {'tab-selected' : selectedTemplate() === 'chat_content'}">chat</i>
            </a>-->
            <a data-bind="click: viewCallContent">
                <i id="callIcon" class="material-icons" style="opacity: 1;" data-bind="css: {'tab-selected' : selectedTemplate() === 'phone_content'}">phone</i>
            </a>
            <a data-bind="click: viewMailContent">
                <i id="mailIcon" class="material-icons" style="opacity: 1;" data-bind="css: {'tab-selected' : selectedTemplate() === 'email_content'}">mail</i>
            </a>
            <a href="#" data-bind="click: closeTechSupportLayout">
                <i class="material-icons close-button" style="opacity: 1;">clear</i>
            </a>
        </div>
        <div class='oj-flex-item' data-bind="template: selectedTemplate"></div>
    </div>
</div>


<script type="text/html" id='email_content'>	
    <!-- ko if: !statusOfSR() -->
    <div class="oj-flex-item">          
        <input type="text" id="emailSub" data-bind="ojComponent: {component: 'ojInputText', 
                                                           placeholder: 'Subject', 
                                                           value: emailSubject,
                                                           invalidComponentTracker: tracker,
                                                           required: true,
                                                           rootAttributes: {style:'max-width:100%'} ,
                                                           translations: {'required': {
                                                                         messageDetail: 'Please enter a Subject'}}
                                                           }"/>

    </div>
    <!--         <div class="oj-flex-item">          
                    <input type="text" id="from" placeholder="To:">
                
            </div>-->
    <div class="oj-flex-item">
        <textarea rows="13" id="emailMsg"
                  style="resize: both;"
                  data-bind="ojComponent: {component: 'ojTextArea', 
                                     value: emailMessage, placeholder: 'Please comment on your provisioned services issue...',
                             invalidComponentTracker: tracker,
                                                           required: true,
                                                           rootAttributes: {style:'max-width:100%'} ,
                                                           translations: {'required': {
                                                                         messageDetail: 'Please brief us the problem'}}
                                                           }"></textarea>
        <!--<textarea rows="13" id="emailMsg" placeholder="Please comment on your provisioned services issue..." data-bind="value: emailMessage"></textarea>-->
    </div>
    <div class="oj-flex-item">
        <div class="oj-flex oj-sm-justify-content-flex-end">
            <button class="email-submit-btn" data-bind="ojComponent: {component: 'ojButton',
                        label: 'Send »'}, click: sendEmail" ></button>
        </div>

    </div>
    <!-- /ko  -->

    <!-- ko if: statusOfSR() -->
    <div class="oj-flex-item"> 
        <div class="oj-hybrid-padding"></div>
        <span class="oj-flex" data-bind="text: 'Your Email request has been submitted'"></span>
        <div class="oj-hybrid-padding"></div>
        <span class="oj-flex" data-bind="text: 'Email Request Id: ' + detailsOfSR().srId"></span>
        <div class="oj-hybrid-padding"></div>
        <span class="oj-flex" data-bind="text: 'Subject: ' + detailsOfSR().subject"></span>
    </div>
    <div class="oj-flex-item">  
        <div class="oj-flex oj-sm-justify-content-flex-end">
            <button class="email-submit-btn" data-bind="ojComponent: {component: 'ojButton',
                        label: 'Ok'}, click: resetAndCloseEmail" ></button>
        </div>
    </div>
    <!-- /ko -->

</script>

<script type="text/html" id='phone_content'>
    <div class= "phoneContainer oj-padding oj-flex">
        <div class="oj-flex-item">
            <!--<div class="oj-sm-justify-content-center oj-flex">-->
                <!-- ko if: !isCallBackInitiated() -->
                <div class="oj-flex">
                    <!-- ko if: !changingNumber() -->
                    <div class="oj-sm-12 oj-flex-item">
                        <!-- ko if: phoneNumberAdded() -->
                        <div class="oj-sm-12 oj-flex-item">
                            <div class="oj-sm-justify-content-center oj-flex">
                                <span class="label-text text-center oj-sm-12 oj-flex-item" data-bind="text: 'Your number: ' + phoneNumber()"></span>
                                <span class="label-text text-center oj-margin-top oj-sm-12 oj-flex-item" data-bind="text: 'Is the above phone number correct?'"></span>
                                <span id="correctNumber" class="red-button oj-margin-end oj-sm-5 oj-flex-item" data-bind="click: changeNumber">Yes</span>
                                <span id="wrongNumber" class="red-button oj-sm-5 oj-flex-item" data-bind="click: changeNumber">No</span>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: !phoneNumberAdded() -->
                        <div class="oj-sm-12 oj-flex-item">
                            <div class="oj-flex">
                                <div class="phone-container oj-sm-12 oj-flex-item">
                                    <label for="phone">Coutry Code - Phone</label>
                                    <input id="phone" class="phone-input" maxlength="4" data-bind="ojComponent: { 
                                                                        component: 'ojInputText',
                                                                        value: countryCode,
                                                                        required: true,
                                                                        rootAttributes: {style:'width:35px;min-width:60px;'},
                                                                        validators: [
                                                                            { type: 'regExp', 
                                                                              options: { pattern: phonePattern,
                                                                                         messageDetail: 'Please enter a valid country code.' }
                                                                            }],
                                                                        invalidComponentTracker: tracker}">
                                    <span data-bind="text: ' - '"></span>
                                    <input id="phone2" class="phone-input" maxlength="14" data-bind="ojComponent: {
                                                                          component: 'ojInputText',
                                                                          value: addedPhoneNumber,
                                                                          required: true,
                                                                          validators: [
                                                                                { type: 'regExp',
                                                                                  options: { pattern: phonePattern,
                                                                                             messageDetail: 'Please enter a valid phone number.' }
                                                                                }],
                                                                          invalidComponentTracker: tracker }">
                                </div>
                                <textarea rows="10" class="oj-sm-12 oj-flex-item"
                                    data-bind="ojComponent: {component: 'ojTextArea', 
                                                        value: phoneMessage, placeholder: 'Please add a message',
                                                        invalidComponentTracker: tracker,
                                                        required: true,
                                                        rootAttributes: {style:'max-width:100%'},
                                                        translations: {'required': {
                                                                      messageDetail: 'Please brief us the problem'}}
                                                        }">
                                </textarea>
                                <span class="red-button oj-sm-12 oj-flex-item" data-bind="click: requestCallBack">Request a call</span>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
                <div class="oj-flex">
                    <!-- ko if: changingNumber() -->
                    <div class="oj-sm-12 oj-flex-item">
                        <div class="oj-flex">
                            <!-- ko if: !confirmedPhoneNumber() -->
                                <div class="phone-container oj-flex-item">
                                    <label for="phone">Coutry Code - Phone</label>
                                <!--</div>-->
                                <!--<div class="oj-sm-12 oj-flex-item">-->
                                    <input id="phone" class="phone-input" maxlength="4" data-bind="ojComponent: { 
                                                                        component: 'ojInputText',
                                                                        value: countryCode,
                                                                        required: true,
                                                                        rootAttributes: {style:'width:60px;min-width:60px;'},
                                                                        validators: [
                                                                            { type: 'regExp', 
                                                                              options: { pattern: phonePattern,
                                                                                         messageDetail: 'Please enter a valid country code.' }
                                                                            }],
                                                                        invalidComponentTracker: tracker}">
                                    <span data-bind="text: ' - '"></span>
                                    <input id="phone" class="phone-input" maxlength="14" data-bind="ojComponent: {
                                                                          component: 'ojInputText',
                                                                          value: addedPhoneNumber,
                                                                          required: true,
                                                                        rootAttributes: {style:'min-width:35px'},
                                                                          validators: [
                                                                                { type: 'regExp',
                                                                                  options: { pattern: phonePattern,
                                                                                             messageDetail: 'Please enter a valid phone number.' }
                                                                                }],
                                                                          invalidComponentTracker: tracker }">
                                </div>
                            <!-- /ko -->
                            <!-- ko if: confirmedPhoneNumber() -->
                            <span class="label-text" data-bind="text: 'Your number: ' + phoneNumber()"></span>
                            <!-- /ko -->
                            <textarea rows="10" class="oj-sm-12 oj-flex-item"
                                    data-bind="ojComponent: {component: 'ojTextArea', 
                                                        value: phoneMessage,
                                                        placeholder: 'Please add a message',
                                                        invalidComponentTracker: tracker,
                                                        required: true,
                                                        rootAttributes: {style:'max-width:100%'},
                                                        translations: {'required': {
                                                                      messageDetail: 'Please brief us the problem'}}
                                                        }">
                            </textarea>
                                <span class="red-button oj-sm-12 oj-flex-item" data-bind="click: requestCallBack">Request a call</span>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                <!-- ko if: isCallBackInitiated() -->
                <div class="oj-margin-lg-vertical oj-flex">
                    <span class="label-text text-center oj-margin-lg-bottom oj-sm-12 oj-flex-item" data-bind="text: 'Thanks for requesting a call back'"></span>
                    <span class="label-text text-center oj-sm-12 oj-flex-item" data-bind="text: 'We\'ll get in touch with you shortly.'"></span>
                </div>
                <!-- /ko -->
            <!--</div>-->
            <!--  need to remove once phone functionality comes in picture-->
<!--  need to add once phone functionality comes in picture-->
<!--        <div class="oj-flex-item form-background">
            <h4>Call 01234 567890</h4>
            <p>Telephone support hours: 9:00am-5:00pm (CET)</p>
        </div>

        <div class="oj-flex-item form-background">
            <h4>Request a callback</h4>
            <p>Select your preferred callback time</p>
            <div class="oj-flex oj-sm-flex-wrap-nowrap oj-sm-justify-content-center">
                <button class="phone-submit-btn" data-bind="ojComponent: {component: 'ojButton',
                                              label: 'AM'}" ></button>
                <button class="phone-submit-btn" data-bind="ojComponent: {component: 'ojButton',
                                              label: 'PM'}" ></button>                      
            </div>
        </div>-->
<!--  need to add once phone functionality comes in picture-->
    </div>
</script>

<script type="text/html" id='chat_content'>
    <div class= "oj-flex oj-sm-flex-direction-column chatContainer">
<!-- need to remove once chat functionality comes in picture -->
        <div class="oj-flex-item">
            <divz>
                <span data-bind="text: 'COMING SOON'" style="position: absolute;top: 50%;bottom: 50%;left: 25%;color: #00758f;font-size: 30px;font-family: 'Roboto-thin', sans-serif;font-weight: 100;"></span>
            </div>
            <!--  need to remove once chat functionality comes in picture-->
            
<!-- need to add once chat functionality comes in picture -->           
<!-- <div class="oj-flex-item">
<textarea rows="15" id="comment"  placeholder="Simon: Hi Michel! How can I help you?"></textarea>
        </div>
        <div class="oj-flex-item">
            <div class="oj-flex">
                <div class=oj-flex-item>
                    <input type="text" class="form-control message" id="to" placeholder="Please comment on your issue...">
                </div>
                <div class="oj-sm-flex-items-initial square">
                    <i class="material-icons" style="opacity: 1;">keyboard_arrow_right</i>
                </div>
            </div>-->
            <!-- need to add once chat functionality comes in picture --> 
        </div>
    </div>
</script>
