/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 19, 2017, 11:32:38 PM
    Author     : mohchand
*/
@media screen and (max-width: 320px)
{
    .deep-red-button {
    font-size: 20px !important;
    padding: 16px 26px !important;
    }
}

.role-selection-radio {
    width: 2em;
    height: 2em;
}

.blur-node1, .blur-node3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/blur-node1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
.blur-node1.animate, .blur-node3.animate {
    background-position: -200px; }

.blur-node2, .blur-node4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/blur-node2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
.blur-node2.animate, .blur-node4.animate {
    background-position: -400px; }

.chooseRoleContainer {
/*        text-align: center;*/
    position: relative;
    margin-top: 65px;
    padding: 10px;

}

.chooseRoleContainer h2{
    color: #00758f;
    font-size: 36px;
    padding: 0 50px;
    text-align: center;
}

.chooseRoleContainer .header-border-top {
    border-top: 1px solid #b1c7d2;
}
.chooseRoleContainer h1{
    color: #00758f;
    font-size: 74px;
    font-family: 'Roboto-thin', sans-serif;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto;
    width:80%;
}

.chooseRoleContainer ul li {
    list-style-type: disc;
    color: #00758f;
    font-size: 18px;
    margin-bottom: 20px;
}

.chooseRole-page .oj-messaging-inline-container .oj-message.oj-message-error {
     background-color: transparent; 
     border-color: transparent; 
}
.chooseRole-page .oj-messaging-inline-container .oj-message {
     padding: 0px; 
     border-style: none; 
     border-width: 0px; 
}
.chooseRole-page .oj-message-detail {
    color: red;
    white-space: normal;
}

@media only screen and (max-width: 480px){
    .chooseRoleContainer h1 {
        font-size: 36px !important;
    } 
    .chooseRoleContainer h4 {
        font-size: 26px !important; }
    .chooseRoleContainer h5 {
        font-size: 20px !important; }
    .chooseRoleContainer p {
        font-size: 16px !important; }
    .chooseRoleContainer p.lg {
        font-size: 18px !important; }
    /*    .material-icons {
        font-size: 36px !important;
        margin: 0 auto; }*/
}


.chooseRoleContainer h4 {
    font-family: 'Roboto-thin', sans-serif;
    font-size: 36px;
    color: #00758f;
    text-align: center;
}

.chooseRoleContainer .lg {
    font-size: 23px !important;
    text-align: center;
    margin-top: 20px;
}

.chooseRoleContainer p {

    font-size: 18px;
    color: #4e5052;
    width: auto;
    margin: 0 0 10px;
    font-family: 'Roboto-thin', sans-serif;
    /*    text-align: center;*/
}

.chooseRoleContainer .red-button {
    background-color: #ee4f50 !important;
    /*    padding: 10px 30px;*/
    display: inline-block;
    text-align: center;
    height: 54px;
    border-radius: 27px;
    margin: 20px 0;
    background-image: none !important;
    color: #fff;
    font-size: 24px;
    line-height: 3.5rem;
    cursor: pointer;
    width:100%;
    padding: 0px 20px 0px 20px;
    z-index: 999;
}

/*.chooseRole .oj-button .oj-button-text 
{
    color: #fff;
    font-size: 24px;
}*/

.chooseRoleContainer .list-item-container{
    width: 83%;
}

.list-item-container .material-icons {
    padding: 0 10px;
    color: #217e93;
    font-size: 30px !important;
}

.list-item-container p {
    font-size: 18px;
    color: #4e5052;
    width: auto;
    margin: 0 0 10px;
    font-family: 'Roboto-thin', sans-serif;
    padding-top: 5px;
}

.grey-button {
    width: 215px;
    color: #00758f !important;
    font-size: 18px;
    padding: 8px 30px;
    display: inline-block;
    text-align: center;
    /*    height: 40px;*/
    border: #00758f 1px solid;
    border-radius: 20px;
    margin: 20px 10px 20px 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: -moz-linear-gradient(top, #FFFFFF 0%, rgba(216, 225, 229, 1) 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 0%, rgba(216, 225, 229, 1) 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, rgba(216, 225, 229, 1) 100%)
}

.grey-button:hover {
    color: #fff;
    opacity: 0.8;
    text-decoration: none
}

.grey-button:focus {
    text-decoration: none;
    border-radius: 20px;
}

.grey-button .material-icons {
    font-size: 22px !important;
    padding: 2px 9px !important;
    vertical-align: middle;
    /*    color: #fff !important;*/
}


/*.create-user-steps-continer ul ul{
    padding-left: 17px;
}*/

/*.create-user-steps-continer .step{
    font-size: 18px;
    color: #00758f;
    font-family: 'Roboto-thin', sans-serif;
}*/
@media print and (orientation: landscape), screen and (min-width: 1024px) {
 .create-user-steps-container {
     height: 500px;
     padding-right: 20px;
     overflow-y: auto;
}
}
/*.create-user-steps-container {
    overflow-y : auto;
}*/

.create-user-steps-container ol li{
    font-size: 22px;
    line-height: 32px;
    margin: 10px 0;
}
.create-user-steps-container ol li ul li
{
    list-style-type: disc;
    color: #00758f;
    font-size: 18px;
}

.create-user-steps-container ol li ul li span{
    color: #4e5052 !important;
}
/*.create-user-steps-container .steps-bulltet-text{
    color: #4e5052 !important;
}*/

hr{
    border-top: 1px solid #b1c7d2
}

.deep-red-button {
    background-color: #F80000;
    color: #fff;
    font-size: 24px;
    padding: 9px 30px;
    display: inline-block;
    text-align: center;
    /*height: 54px;*/
    border-radius: 27px;
    margin: 20px;
    opacity: 0.65;
    min-width: 230px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.deep-red-button:hover {
    background-color: #C80000;
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/*.follow-steps-container {
    left: 8.333333333333332%;
    position: relative;
}*/

.chooseRoleContainer .addusers-img-container 
{
  content: "";
  position: absolute;
  background: url("../img/add-user-step-1.png") no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  right:0;
      top: 75px;
    left: 25px;
}
.addAnother-page p {
    margin-bottom: 18px;
    text-align: center;
}

.addAnother-page p.lg {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 18px;
}

.disable-train-selection {
    pointer-events: none;
}

.video-link-container-lg {
    display: block;
    margin-left: 45px;
}
