/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 12:31:21 PM
    Author     : nyasarap
*/

body {
    font-family: 'Roboto-regular', sans-serif;
    font-weight: normal;
}

#routingContainer {
    min-height: 100vh;
}

header-content {
    height: 80px;
}

#module {
    margin-top: 80px;
}

.text-center{
    text-align: center;
}

.display-none {
    display: none !important;
}

.visibility-hidden {
    visibility: hidden;
}

.color-red {
    color: #F80000;
}

navigationbarleft {
    width: 340px;
    max-width: 340px;
    top: 0;
}

navigationbarright {
    position: fixed;
    height: 100%;
    opacity: 0.95;
    right: 0px;
    width: 100px;
    background-color: #4C5B5E;
}

.disable-actions {
    pointer-events: none;
    opacity: 0.5;
}

.opacity-half {
    opacity: 0.5;
}

.service-status-ready {
    border-bottom: 4px solid #FDAF64 !important;
}

.service-status-running {
    border-bottom: 4px solid #8AF16E !important;
}

.service-status-suspended {
    border-bottom: 4px solid #FF645F !important;
}
a {
    color: #ee4f50; 
}
/*.mainBackGroundImage {
    background-image:url('../img/Main_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #335C62 !important;
}*/

.olive-background-panel {
    background-color: rgba(52, 72, 79, .8); 
    height: 580px; 
    min-height: 100%; 
    min-width: 100%;
    border: none !important;
}

.olive-sorround-div {
    padding-left: 25%; 
    padding-right: 25%;  
    position: relative; 
    top: 35%; 
    transform: translateY(-35%);
}

.main-backgroud-opaque-layer {
    background-color: rgba(54, 25, 25, .2); 
    min-height: 100%; 
    min-width: 100%
}

.standard-button {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    cursor: pointer;
    color: white;
}

.standard-button span{
    margin-top: 15px;
}

input::-webkit-input-placeholder {
    /*color: #405058 !important;*/
    font-style: normal !important;
}

input:-moz-placeholder { /* Firefox 18- */
    /*color: #405058 !important;*/  
    font-style: normal !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    /*color: #405058 !important;*/  
    font-style: normal !important;
}

input:-ms-input-placeholder {  
    /*color: #405058 !important;*/
    font-style: normal !important;
}

input.whitePlaceHolder::-webkit-input-placeholder {
    color: white !important;
    /*font-style: normal !important;*/
}

input.whitePlaceHolder:-moz-placeholder { /* Firefox 18- */
    color: white !important;  
    /*font-style: normal !important;*/
}

input.whitePlaceHolder::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;  
    /*font-style: normal !important;*/
}

input.whitePlaceHolder:-ms-input-placeholder {  
    color: white !important;
    /*font-style: normal !important;*/
}

textarea.whitePlaceHolder::-webkit-input-placeholder {
    color: white !important;
    font-style: normal !important;
}

textarea.whitePlaceHolder:-moz-placeholder { /* Firefox 18- */
    color: white !important;  
    font-style: normal !important;
}

textarea.whitePlaceHolder::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;  
    font-style: normal !important;
}

textarea.whitePlaceHolder:-ms-input-placeholder {  
    color: white !important;
    font-style: normal !important;
}

.input-color-white {
    color: white;
}

.error-message-text {
    color: red; 
    font-size: larger;
}

span.oj-message-content > div.oj-message-summary {
    display: none;
}

span.oj-component-icon.oj-message-status-icon.oj-message-error-icon {
    display: none;
}

div[aria-label="Pop-out"] {
    display: none;
}

body-font {
    font-family: 'Roboto-thin', sans-serif;
    font-weight: normal; 
}

h1 {
    font-family: 'Roboto-thin', sans-serif;
    font-size: 54px;
    font-weight: 100;
    color: #fff; 
}

h4 {
    font-size: 36px;
    color: #fff; 
}

h5 {
    font-size: 22px;
    color: #bfd5e0; 
}


p {
    font-size: 18px;
    color: #4e5052; 
}
p.white {
    color: #fff; 
}
p.lg {
    font-size: 22px; 
}

.red-button {
    background-color: #ee4f50 !important;
    /*    padding: 10px 30px;*/
    display: inline-block;
    text-align: center;
    /*height: 54px;*/
    border-radius: 27px;
    margin-top: 10px !important;
    background-image: none !important;
    color: #fff;
    font-size: 24px;
    line-height: 3.5rem;
    cursor: pointer;
    width:100%;
    /* padding: 0px 20px 0px 20px; */
    z-index: 999;
}

.red-button:hover {
    color: #fff;
    text-decoration: none; 
}

.red-button:active {
    color: #fff;
    text-decoration: none;
    border-radius: 27px;
}

.overlay {
    /*position: fixed;*/
    top: 0; right: 0; bottom: 0; left: 0;
    background: url(../img/bg-overlay.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainBackGroundImage {
    margin:0 auto;
    background-image:url('../img/desktop-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    /*background-color: #335C62 !important;*/
}
@media only screen and (min-width: 1280px) {
    .mainBackGroundImage {
        background-image:url('../img/desktop-background.jpg');
        /*background-color: #335C62 !important;*/
    }
}
/*.red-button.inverted {
    color: #ee4f50;
    background: none;
    border: 2px solid #ee4f50;
    padding: 8px 30px !important; 
}*/


/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 34px; 
    }

    h4 {
        font-size: 26px; 
    }

    h5 {
        font-size: 20px; 
    }

    p {
        font-size: 16px; 
    }
    p.lg {
        font-size: 18px; 
    }
    .white-button, .red-button, .blue-button {
        margin: 0 auto;
        display: table;
    }
}
/* This used to work for parent element of button divs */

/* But it is not enough now, below dont hide play button parent div */

home-page video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

login-page video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

.align-content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-bottom-5px {
    margin-bottom: 5px !important;
}

.preloader-container {
    position: fixed;
    left: 42%;
    height: 100%;
    width: 100%;
}

.preloader {
    border: 6px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 0.6s linear infinite;
    border-top: 6px solid #555;
    border-radius: 112%;
    width: 60px;
    height: 60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.blue-link {
    color: #00758f;
}