/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 12:31:21 PM
    Author     : nyasarap
*/

html, body, #routingContainer, .responsive-height {
    height: 100%;
}

/*#routingContainer {
    background-color: #385155;
}*/

navigationbarright {
    width: 70px;
    max-width: 70px;
}

.nav-left-pane {
    width: 240px;
    max-width: 240px;
}

.mainBackGroundImage {
    background-image:url('../img/Main_background.jpg');
    /*    background-repeat:no-repeat;
        background-size: 100%, 100%;
        background-size:contain;
        overflow: hidden;*/
    /*min-height:  100%;*/ 
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;         
}

.nav-right-pane {
    width: 100px;
    max-width: 100px;

}

.olive-background-panel {
    background-color: rgba(52, 72, 79, .8); 
    height: 580px; 
    min-height: 100%; 
    min-width: 100%
}

.olive-sorround-div {
    padding-left: 25%; 
    padding-right: 25%;  
    position: relative; 
    top: 35%; 
    transform: translateY(-35%);
}

.main-backgroud-opaque-layer {
    background-color: rgba(54, 25, 25, .2); 
    min-height: 100%; 
    min-width: 100%
}