/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 12:31:21 PM
    Author     : nyasarap
*/

html, body, #routingContainer, .responsive-height {
    height: 100%;
}

navigationbarright {
    max-width: 100px;
}

navigationbarleft, .center-content, navigationbarright {
    border: 2px dashed blue;
}
