/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2017, 1:36:09 PM
    Author     : nyasarap
*/

.nav-wrapper {
    /*position: fixed;*/
    /*top: 0;*/
    /*z-index: 9999;*/
    width: 100%;
    /*padding: 0px 20px 0px 20px;*/
    height: 80px;
    /*background: -moz-linear-gradient(left, #3a913f 0%, #00758f 100%);*/
    /*background: -webkit-linear-gradient(left, #3a913f 0%, #00758f 100%);*/
    /*background: linear-gradient(to right, #3a913f 0%, #00758f 100%);*/
        /*box-sizing: border-box;*/
}

div.nav-expander {
    height: 70px;
    padding: 20px 20px 0px 20px;
    border-bottom: 1px solid #8aadbf;
    color: #8aadbf;
    box-sizing: border-box;
}

div.nav-expander-middle {
    height: 70px;
    padding: 10px 20px 0px 20px;
    border-bottom: 1px solid #8aadbf;
    color: #8aadbf;
    box-sizing: border-box;
}

span.ico-container {
    display: block;
    width: 36px;
    height: 36px;
}
div i {
    font-size: 36px !important;
}


video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(bg.jpg) no-repeat;*/
    background-size: cover;
}

/*.home span.lg {
    font-size: 22px;
}

.home span {
    font-size: 18px;
    color: #4e5052;
}

.home .blue-button {
    background-color: #4b9aac;
    color: #fff !important;
    font-size: 24px;
    padding: 10px 50px;
    display: inline-block;
    text-align: center;
    height: 54px;
    border-radius: 27px;
    margin: 20px 0;
    text-decoration: none;
    z-index: 9999;
}*/


footer.fixed {
    position: fixed;
    bottom: 0;
}

footer {
    width: 100%;
    padding: 10px 20px 0;
    background-color: rgba(0, 117, 143, 0.2);
}
