/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 1:32:37 PM
    Author     : nyasarap
*/

.dashboard {
    /*min-height: calc(100vh - 80px);*/
}

.bold {
    font-weight: bold;
}

.provisioned-services.dashboard .content.stage h1,
.provisioned-services.dashboard .content.stage p{
   text-align: left; 
}

.dashboard .benefits, .dashboard .key-features {
    background: white;
    padding: 10px;
}

.dashboard .benefits ul {
    padding-left: 20px;
}

.dashboard .benefits ul li {
    list-style-type: disc;
    color: #00758f;
    font-size: 18px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
    .dashboard {
        padding: 0px 10px 10px 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .dashboard {
        padding: 0px 120px 10px 10px;
    }
}

@media screen and (min-width: 1281px) {
    .dashboard {
        margin: 0px 120px 20px 120px;
    }
}

.feedback {
    position: fixed;
    bottom: 0;
    right: 20px;
    background-color: #FC0000;
    color: #fff;
}

.feedback a {
    height: auto;
    width: 80px;
    cursor: pointer;
    margin-right: 5px;
}

.feedback .material-icons {
    font-size: 50px !important;
    padding: 15px;
    color: #fff;
}
