/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 1:32:37 PM
    Author     : nyasarap
*/

.dashboard {
    /*min-height: calc(100vh - 80px);*/
}

.bold {
    font-weight: bold;
}

.content-title {
    font-size: 48px;
    color: #324b5c;
    border-bottom: 1px solid #324b5c
}

.content-detail {
    margin-top: 20px;
}

.usecase-container {
    max-width: 400px;
}

.usecase1, .usecase2 {
    max-width: 400px;
    padding: 20px;
    border-radius: 27px;
    border: 1px solid #000;
    background-color: rgba(216, 225, 229, 1);
}

.usecase2 {
    margin-top: 30px;
}

.usecase-title {
    font-size: 16px;
}

.usecase-content {
    font-size: 26px;
    min-height: 56px;
}

.open-usecase {
    cursor: pointer;
    text-align: right;
}

.usecase-detail-container {
    margin-left: 20px;
    background-color: rgba(216, 225, 229, 1);
}

.usecase-detail-item {
    max-width: 843px;
    margin: 20px 40px;
    padding: 20px;
    border: 1px solid #000;
}

.usecase-img-container {
    height: 160px;
    margin-bottom: 30px;
}

.usecase-detail-image {
    width: 100%;
}

.usecase-detail-heading {
    font-size: 26px;
    margin-bottom: 20px;
}

.usecase-detail-heading2 {
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.detail-container {
    margin: 0 20px;
    font-size: 20px;
}

.detail-container  li:not(:last-child) {
    margin-bottom: 10px;
}

.readmore-button {
    border-bottom: 1px solid #324b5c;
}

.guided-path-container {
    border: 1px solid #000;
    border-radius: 27px;
    padding: 10px 20px;
    margin-top: 5px;
}

.guided-path-container .progressbar-item {
    margin-right: 20px;
}

.guided-path-container .oj-progressbar {
    border-radius: 27px;
    /*border: 2px solid white;*/
    background-color: orange;
}

.guided-path-container .oj-progressbar-value {
    /*border-right: 2px solid white;*/
    background-color: green;
}

.guided-path-container i {
    font-size: 24px !important;
    cursor: pointer;
}

.guided-path-detail {
    border: 0.5px solid #000;
    margin: 5px 20px 0 20px;
    /*padding: 15px;*/
}

.guided-path-detail-item {
    margin: 10px;
}

.guided-path-status-continue, .guided-path-status-complete {
    width: 100px;
    color: white;
    text-align: center;
    padding: 3px 20px;
    border-radius: 27px;
}

.guided-path-status-complete {
    background: green;
}

.guided-path-status-continue {
    background: orange;
}

@media screen and (max-width: 1280px) {
    .dashboard {
        padding: 40px 10px 10px 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .dashboard {
        padding: 40px 120px 10px 10px;
    }
}

@media screen and (min-width: 1281px) {
    .dashboard {
        margin: 80px 120px 80px 120px;
    }
}
