/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 1:32:37 PM
    Author     : nyasarap
*/

.dashboard {
    /*min-height: calc(100vh - 80px);*/
}

.bold {
    font-weight: bold;
}

.content-title {
    font-family: 'Roboto-thin', sans-serif;
    font-size: 54px;
    font-weight: 100;
    color: #00758f;
    margin-top: 20px;
    margin-bottom: 10px;
}

.dashboard hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    box-sizing: content-box;
    height: 0;
    border-top: 1px solid #b1c7d2;
}

.content-description {
    font-size: 18px;
    color: #4e5052;
    line-height: 28px;
}

.content-detail {
    margin-top: 20px;
}

.usecase-container {
    max-width: 400px;
}

.usecase-container .head {
    height: 20px;
    background-color: #324b5c;
}

.usecase-container .head.active {
    background-color: #F80000;
}

.usecase1 {
    margin-bottom: 30px;
}

.usecase1, .usecase2 {
    padding: 20px;
    border-bottom: 1px solid #F80000;
    background-color: white;
    box-sizing: border-box;
}

.usecase-container i {
    font-size: 60px !important;
    color: #324b5c;
}

.usecase-title, .usecase-content {
    color: #00758f;
    font-size: 14px;
    font-family: 'Roboto-thin', sans-serif;
}

.usecase-content {
    font-size: 28px;
    cursor: pointer;
}

.red-text {
    color: #F80000;
}

.usecase-detail-container {
    margin-left: 20px;
}

.usecase-detail-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.usecase-img-container {
    margin-bottom: 30px;
}

.usecase-detail-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.usecase-detail-heading {
    font-size: 26px;
    margin-bottom: 20px;
}

.usecase-detail-heading2 {
    font-family: 'Roboto-thin', sans-serif;
    font-size: 28px;
    color: #00758f;
}

.dashboard ul {
    padding-left: 20px;
}

.dashboard ul li {
    list-style-type: disc;
    color: #00758f;
    font-size: 18px;
    margin-bottom: 20px;
}

.dashboard li {
    color: #4e5052;
}

.detail-container  li:not(:last-child) {
    margin-bottom: 10px;
}

.guided-path-container {
    margin-top: 5px;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    background-color: #008bbc;
    padding: 20px;
}
/*
.guided-path-container .progressbar-item {
    margin-right: 20px;
}

.guided-path-container .oj-progressbar {
    border-radius: 27px;
    border: 2px solid white;
    background-color: orange;
}

.guided-path-container .oj-progressbar-value {
    border-right: 2px solid white;
    background-color: green;
}*/

.guided-path-container i {
    font-size: 24px !important;
    cursor: pointer;
}

.guided-path-detail {
    border: 0.5px solid #000;
    margin: 5px 20px 0 20px;
    /*padding: 15px;*/
}

.guided-path-detail-item {
    margin: 10px;
}

.guided-path-status-continue, .guided-path-status-complete {
    width: 100px;
    color: white;
    text-align: center;
    padding: 3px 20px;
    border-radius: 27px;
}

.guided-path-status-complete {
    background: green;
}

.guided-path-status-continue {
    background: orange;
}

.provisioned-services.dashboard .content.stage h1,
.provisioned-services.dashboard .content.stage p{
   text-align: left; 
}

@media screen and (max-width: 1280px) {
    .dashboard {
        padding: 40px 10px 10px 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .dashboard {
        padding: 40px 120px 10px 10px;
    }
}

@media screen and (min-width: 1281px) {
    .dashboard {
        margin: 80px 120px 80px 120px;
        width: 1170px;
    }
}
