/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 1:33:08 PM
    Author     : nyasarap
*/

.home-page {
    margin-top: 10px;
}

.home-page .ring img {
    position: absolute;
}

.home-page .img-responsive {
    height: 500px;
    /*height: 60%;*/
}

.home-page .ring img:nth-child(1) {
    -webkit-animation: spin1 5s infinite linear;
    -moz-animation: spin1 5s infinite linear;
    -o-animation: spin1 5s infinite linear;
    -ms-animation: spin1 5s infinite linear;
    animation: spin1 5s infinite linear;
}

.home-page .ring img:nth-child(2) {
    -webkit-animation: spin2 4s infinite linear;
    -moz-animation: spin2 4s infinite linear;
    -o-animation: spin2 4s infinite linear;
    -ms-animation: spin2 4s infinite linear;
    animation: spin2 4s infinite linear;
}

.home-page .ring img:nth-child(3) {
    -webkit-animation: spin1 8s infinite linear;
    -moz-animation: spin1 8s infinite linear;
    -o-animation: spin1 8s infinite linear;
    -ms-animation: spin1 8s infinite linear;
    animation: spin1 8s infinite linear;
}

.home-page .ring .filmStrip-details {
    text-align: center;
    max-height: 250px;
    max-width: 300px;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}
    
.home-page .ring .filmStrip-title {
    font-weight: bold;
    color: #f80000;
    font-size: 36px;
}

.home-page .ring .filmStrip-description {
    font-weight: normal;
    color: #333;
    font-size: 24px;
}

.home-page .ring .oj-filmstrip {
    margin: 80px 0 0 80px;
}

.home-page .ring .oj-filmstrip, .home-page .ring .oj-filmstrip-pages-container, .home-page .ring .oj-filmstrip-page-container {
    position: absolute;
    height: 340px;
    width: 340px;
    border-radius: 50%;
    box-sizing: border-box;
}

.home-page .ring .filmStrip-paging-control {
    position: absolute;
    margin: 370px 0 0 170px;
}

.home-page .ring .oj-pagingcontrol-nav-dot-bullet.oj-selected, .oj-pagingcontrol-nav-dot-bullet.oj-hover {
    background-color: #ee4f50;
}

.home-page .welcome-content {
    line-height: 1.1;
}
/*
.home-page .welcome-content h2 {
    color: #00758f;
    font-size: 80px;
    font-weight: 500;
    margin-top: 0;
}

.home-page .welcome-content h3 {
    color: #00758f;
    font-size: 57px;
    font-weight: 500;
    margin-top: 0;
}*/

/*.home-page .welcome-content h4 {
    color: #00758f;
    font-size: 40px;
    font-weight: 500;
}*/

.home-page .welcome-description {
    max-width: 555px;
}

.home-page .welcome-description hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*.home-page .welcome-description p {
    line-height: 28px;
}*/

/*.home-page span.branding-homepage {
    color: #f80000 !important;
}*/

/*.home-page .welcome-content span {
    font-size: 80px;
    color: #000;
}*/

.home-page hr {
    border-top: 1px solid #b1c7d2;
}

/* for small screen devices */
@media screen and (max-width: 480px) {
    .home-page .welcome-content h2 {
        font-size: 36px;
    }
    .home-page .welcome-content span {
        /*font-size: 35px;*/
    }
    .home-page .welcome-content h3 {
        font-size: 24px;
    }

    .home-page .welcome-content h4 {
        font-size: 24px;
    }
}

/* for medium screen devices */
@media screen and (min-width: 480px) and (max-width: 1023px) {
}

/* for large screen devices */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
}

/* for extra large screen devices */
@media screen and (min-width: 1281px) {
    .home-page {
        margin-top: 50px;
    }
    .home-page .ring {
        margin-left: 25%;
    }
}

/* Animation key names */
@-webkit-keyframes spin1 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin1 {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes spin1 {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
@-ms-keyframes spin1 {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}
@keyframes spin1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}
@-moz-keyframes spin2 {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}
@-o-keyframes spin2 {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(-360deg);
    }
}
@-ms-keyframes spin2 {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(-360deg);
    }
}
@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .home-top-section {
        padding-top: 60px;
    }
    .home .content.welcome h2 {
        font-size: 50px;
    }
}