/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 1:32:55 PM
    Author     : nyasarap
*/
.login-page {
    margin-top: 30px;
}

.login-page .welcome-content {
    line-height: 1.1;
}

.login-page .welcome-content h2 {
    color: #00758f;
    font-size: 80px;
    font-weight: 500;
    margin-top: 0;
}
.login-page hr {
    border-top: 1px solid #b1c7d2;
}

.login-page .login-form-group {
    margin-bottom: 12px;
}

.login-page .input-text {
    height: 3.5rem !important;
    width: 540px;
    padding-left: 10%;
}
.login-page .select {
    height: 3.5rem !important;
    width: 540px;
    padding-left: 6%;
}

.login-page .forgotten {
    display: inline-block;
    margin-top: 43px;
    float: right;
    font-size: 15px; 
}

.login-page .login-box {
    width: 540px;
}

.login-page .login-footer {
    font-size: 15px;
    text-align: center; 
}
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .login-page {
        margin-top: 20px;
    }
    .login-page  .welcome-content h2 {
        font-size: 50px;
    }
    .login-page .input-text {
        height: 3.5rem !important;
        width: 350px;
        padding-left: 10%;;
    }
    .login-page .select {
        height: 3.5rem !important;
        width: 350px;
        padding-left: 6%;
    }
    .login-page .login-box {
        width: 350px;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}


