/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 3:54:53 PM
    Author     : nyasarap
*/

.navigation-left {
    color: white;

}

.navigation-left .loginFace {
    width: 120px;
    height: 120px;
    margin-top: 5px;
}

.nav-profile {
    height: 150px;
}

.nav-list {
    margin: 0px 24px;
}

.nav-list ul {
    padding: 0px;
}

.nav-list li {
    list-style-type: none;
    padding: 0.925rem;
    cursor: pointer;
}

.nav-list li:not(:last-child) {
    border-bottom: 1px solid white;
}

.navigation-left .logout span {
    margin-top: 15px;
}

.navigation-left .logout {
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    margin-top: 250px;
    cursor: pointer;
}

.nav-list-right {
    /* margin: 200px 24px; */
    margin-top: 170%;
}

.nav-list-right ul {
    padding: 0px;
}

.nav-list-right li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}