/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 3:54:53 PM
    Author     : nyasarap
*/

navigationbarleft {
    background-color: rgba(216, 225, 229, 0.9);
}
    
.chat-window {
    position: fixed;
    width: 250px;
    min-height: 100vh;
    color: #F5EBDC;
    background-color: #4C5B5E;
    box-sizing: border-box;
    right: 0px;
}

.csm-ico {
    background: url('../img/rigthtNav_csmHead.png');
}

.call-ico {
    background: url('../img/rigthtNav_call.png');
}

.chat-ico {
    background: url('../img/rigthtNav_chat.png');
}

.csm-ico, .call-ico {
    height: 60px;
    padding-top: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    /* 4px is the 10th part of backgrond-size (40px) */
    background-position: 36px 0px;
}

.chat-ico {
    height: 80px;
    padding-top: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    /* 6px is the 10th part of backgrond-size (60px) */
    background-position: 80px 0px;
}

.chat-container {
    min-height: 400px;
    /*border: 1px solid #F5EBDC;*/
}

.chat-send {
    height: 30px;
    color: #8D908A;
    padding-top: 6px;
    background-color: #F6ECDD;
    cursor: pointer;
}

.nav-list {
    margin: 0px;
    padding-left: 0;
    list-style: none;
}

.nav-list li {
    font-size: 20px;
    color: #324b5c;
    padding: 16px 30px;
    min-height: 54px;
    box-sizing: border-box;
    cursor: pointer;
}

.nav-list li i {
    font-size: 28px !important;
}

.navigation-left a#navClose {
    float: right;
    padding: 10px 10px 0px 0px;
}

.nav-list li:first-child {
    /*margin-top: 10px;*/
}

.nav-list li:first-child span {
    margin-left: 10px;
}

.nav-list li:not(:last-child) {
    border-bottom: 2px solid #b0c6d1;
}

.nav-list li.sub-nav:not(:last-child) {
    border-bottom: none;
}

.nav-list .sub-nav span {
    margin-left: 10px;
}

.nav-list .sub-nav .sub-nav-content:hover {
    color: #ee4f50;
}
/*
.navigation-left .logout span {
    margin-top: 15px;
}

.navigation-left .logout {
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    margin-top: 250px;
    cursor: pointer;
}*/

.nav-list-right {
    /* margin: 200px 24px; */
    margin-top: 170%;
}

.nav-list-right ul {
    padding: 0px;
}

.nav-list-right li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}