/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 1:33:29 PM
    Author     : nyasarap
*/
.services-content {
    padding-top: 20px;       
    padding-bottom: 20px;
}
.services-menu {
    margin-top: 10px;
}

.services-item {
    width: 200px;
    min-height: 100px;
    box-sizing: border-box;
    border: 1px solid #405058;
    margin-right: 10px;
    margin-bottom: 10px;
}

.services-heading {
    border-bottom: 1px solid #405058;
    font-size: 10px;
    font-weight: 500;
}

.services-item img {
    width: 44px;
    height: 44px;
}

.services-details {
    height: 60px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
}

.services-instance-count {
    font-size: 28px;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
}
.services-learn-more {
    width: 120px;
    font-size: 11px;
    border: 1px solid #848E94;
    text-align: center;
    margin: 10px 20px;
    cursor: pointer;
}

.services-mini-heading {
    border-bottom: 1px solid #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.services-mini-content {
    padding-top: 20px;       
    padding-bottom: 20px;    
}


.services-mini-usage-details {
    margin-top: 10px;
    margin-left: 10px;
}

.services-mini-top-heading { 
    font-size: 25px;
    color: #ffffff;       
    padding-top: 125px;
    padding-left: 125px;

}

.services-mini-menu .oj-progressbar-value {
    background-color: #253741;
}

.mini-services-scroll-container {
    /*height: 400px;*/
    overflow: auto;

}

.oj-masonrylayout-tile-1x1 {
    width: 200px;
    height: 200px;
}

.services-mini-item {
    /*width: 165px;*/
    /*min-height: 120px;*/
    box-sizing: border-box;
    border: 1px solid #ffffff;
    margin-right: 15px;
    margin-bottom: 10px;    
    color: #ffffff;
}

.services-mini-menu {
    margin-top: 15px;
    margin-left: 30px;
    /*margin-right: 20px;*/
    min-height: 445px;
    height: 445px;
    overflow: auto;

}


/*All the styles for provisioned Services goes here*/

.provisioned-services {
    margin-top: 65px;
}

.provisioned-services .content.stage {
    margin-top: 20px;
}

.provisioned-services .content.stage h1 {
    color: #00758f;
    font-size: 61px;
    padding: 0 50px;
    text-align: center;
}

.provisioned-services .content.stage p {
    margin-bottom: 18px;
    font-size: 18px;
    color: #4e5052;
    line-height: 28px;
    text-align: center;
}

.provisioned-services .service {
    position: relative;
    /*overflow: auto;*/
    background-color: #fff;
    margin: 50px 0;
}
.provisioned-services .service.blue .head {
    background-color: #008bbc;
}

.provisioned-services .service.green .head {
    background-color: #3f9f8a;
}

.provisioned-services .service.purple .head {
    background-color: #56638a;
}
.provisioned-services .service .head {
    padding: 10px 15px;
}

.provisioned-services .service .head .laas {
    float: right;
    padding: 8px 10px 5px 5px;
    margin-right: -15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #fff;
}

.provisioned-services .service.blue .laas {
    background-color: #45aace;
}

.provisioned-services .service.green .laas {
    background-color: #73b9aa;
}

.provisioned-services .service.purple .laas {
    background-color: #848daa;
}

.provisioned-services .service .head .laas img {
    margin: 0 10px;
}

.provisioned-services .service .head img {
    float: left;
    margin-top: 25px;
    margin-right: 10px;
    vertical-align: middle;
    border: 0;
}

.provisioned-services .service .head img {
    float: left;
    margin-top: 25px;
    margin-right: 10px;
    vertical-align: middle;
    border: 0;
}

.provisioned-services .service .head .metered {
    font-size: 14px;
    margin: 30px 0 -5px 0;
    padding: 0;
}

.provisioned-services .service .head p {
    color: #fff;
    font-size: 18px;
    /*color: #4e5052;*/
    line-height: 28px;
}

.provisioned-services .service .head h4 {
    color: #fff;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.provisioned-services .service .body {
    background-color: #fff;
    padding: 20px;
}

.provisioned-services .service .row-count-1 {
    min-height: 119px;
    box-sizing: border-box;
}

.provisioned-services .service .row-count-2 {
    min-height: 152px;
    box-sizing: border-box;
}

.provisioned-services .service .row-count-3 {
    min-height: 185px;
    box-sizing: border-box;
}

.provisioned-services .service .row-count-4 {
    min-height: 218px;
    box-sizing: border-box;
}

.provisioned-services .service .body .col-60 {
    display: inline-block;
    width: 40%;
    padding: 0 20px;
    border-right: 1px solid #bbcfda;
}

.provisioned-services .service .body p {
    color: #8aadbf;
}
.provisioned-services .service .body .instances {
    font-size: 100px;
    line-height: 120px;
    font-family: 'Roboto-thin', sans-serif;
    margin: 0;
    text-align: center;
}

.provisioned-services .service.blue span {
    color: #008bbc;
}

.provisioned-services .service.green span {
    color: #3f9f8a;
}

.provisioned-services .service.purple span {
    color: #56638a;
}
.provisioned-services .service .body .col-40 {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    padding-left: 20px;
    padding-top: 15px;
}
.provisioned-services .service .body .col-40 p {
    font-size: 16px;
}

.provisioned-services .service .body img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    vertical-align: middle;
    border: 0;
}

.provisioned-services h1 {
    color: #00758f;
    font-size: 50px;
    z-index: 99999;
    text-align: center;
}

.provisioned-services h4 {
    color: #00758f;
    z-index: 99999;
}

.provisioned-services .deep-red-button {
    height : 32px;
    min-width: 160px;
}

.provisioned-services .contact {
    margin-bottom: 50px;
}
.provisioned-services .contact img {
    overflow: visible;
    margin-bottom: -100px;
}

.provisioned-services .contact h4 {
    color: #f80000;
    font-size: 22px;
    font-family: 'Roboto-regular', sans-serif;
    text-align: center;
}

.provisioned-services .contact p {
    font-size: 14px;
    text-align: center;
    padding: 0 25px;
}

.provisioned-services .contact a {
    font-size: 14px;
}

@media only screen and (max-width: 480px) {
    .provisioned-services .content.stage h1 {
        font-size: 38px;
    }
    .provisioned-services .content.stage p {
        font-size: 16px;
    }
    .provisioned-services .service .head h4 {
        font-size: 26px;
    }
    .provisioned-services h1 {
        font-size: 34px;
    }
    .provisioned-services .deep-red-button {
        height: 25px;
        font-size: 18px;
        border-radius: 21px;
        margin: 14px auto;
        min-width: 200px;
    }
}

@media screen and (max-width: 1023px) {
    .servicesMini-page {
        padding: 0px 10px 10px 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .servicesMini-page {
        padding: 0px 120px 10px 10px;
    }
    .provisioned-services .service .head .img-dimen {
       width : 55px !important;
       height: 45px !important;
    }
    .provisioned-services .service .head .metered {
        font-size: 12px;
    }
}

@media screen and (min-width: 1281px) {
    .servicesMini-page {
        padding: 0px 120px 20px 120px;
    }
}

.servicesMini-page .support-panel-container {
    background: linear-gradient(to bottom, rgba(50, 75, 92, 0.24) 0%, rgba(138, 173, 191, 0.24) 100%);
    margin: 5px 0px 15px 0px;
}

.servicesMini-page .support-panel-label-container {
    margin-bottom: 15px;
}

.servicesMini-page .panel-label {
    padding: 0px 25px 0px 25px;
    color: #324b5c;
}

.servicesMini-page .icon-custom {
    color: #324b5c;
    font-size: 55px !important;
    padding: 15px 15px 5px 15px;
    cursor: pointer;
}

.provisioned-services .service .head .img-dimen {
   width : 65px;
   height: 55px;
}

.provisioned-services .service .body .col-80 {
    display: inline-block;
    width: 80%;
    padding: 0 20px;
    /*border-right: 1px solid #bbcfda;*/
}

.provisioned-services .service .body .uom-color {
    color: #56638a;
    font-weight: bolder;
}
