/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 1:33:29 PM
    Author     : nyasarap
*/
.services-content {
    padding-top: 20px;       
    padding-bottom: 20px;
}
.services-menu {
    margin-top: 10px;
}

.services-item {
    width: 200px;
    min-height: 100px;
    box-sizing: border-box;
    border: 1px solid #405058;
    margin-right: 10px;
    margin-bottom: 10px;
}

.services-heading {
    border-bottom: 1px solid #405058;
    font-size: 10px;
    font-weight: 500;
}

.services-item img {
    width: 44px;
    height: 44px;
}

.services-details {
    height: 60px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
}

.services-instance-count {
    font-size: 28px;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
}
.services-learn-more {
    width: 120px;
    font-size: 11px;
    border: 1px solid #848E94;
    text-align: center;
    margin: 10px 20px;
    cursor: pointer;
}

.services-mini-heading {
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.services-mini-content {
    padding-top: 20px;       
    padding-bottom: 20px;    
}


.services-mini-usage-details {
    margin-top: 10px;
    margin-left: 10px;
}

.services-mini-top-heading { 
    font-size: 25px;
    color: #ffffff;       
    padding-top: 125px;
    padding-left: 125px;
  
}

.services-mini-menu .oj-progressbar-value {
    background-color: #253741;
}



.mini-services-scroll-container {
        /*height: 400px;*/
    overflow: auto;

}

.oj-masonrylayout-tile-1x1 {
    width: 200px;
    height: 200px;
}

.services-mini-item {
    /*width: 165px;*/
    /*min-height: 120px;*/
    box-sizing: border-box;
    border: 1px solid #ffffff;
    margin-right: 15px;
    margin-bottom: 15px;    
    color: #ffffff;
}

.services-mini-menu {
    margin-top: 15px;
    margin-left: 30px;
     /*margin-right: 20px;*/
     min-height: 420px;

}

