/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2017, 5:07:39 PM
    Author     : nyasarap
*/

.branding-homepage {
    color: #f80000 !important;
}

.heading-type1 {
    font-size: 80px;
    color: #000;
}

.heading-type5 {
    color: #00758f;
    font-size: 61px;
    padding: 0 50px;
    margin: 8px 0;
}

.heading-type2 {
    color: #00758f;
    font-size: 40px;
    font-weight: 500;
    margin: 8px 0;
    padding: 0 0 2px;
    font-family: inherit;
    font-style: normal;
}

.heading-type3 {
    font-family: 'Roboto-thin', sans-serif;
    font-size: 36px;
    color: #00758f;
    font-weight: 400;
    margin: 8px 0;
    padding: 0 0 2px;
}

.heading-type4 {
    font-size: 22px;
    line-height: 28px;
    color: #4e5052;
    margin-bottom: 5px;
}

/*.heading-type4 {
    font-size: 22px;
}*/

.normal-text {
    font-size: 14px;
    color: #4e5052;
    line-height: 28px;
    margin: 0 0 5px 0;
}

/* for small screen devices */
@media screen and (max-width: 480px) {
    .heading-type1 {
        font-size: 28px;
    }
    .heading-type2 {
        font-size: 20px;
    }
    .heading-type5 {
        font-size: 34px;
    }
    .heading-type3 {
        font-size: 22px;
    }
    .heading-type4 {
        font-size: 14px;
    }
}
