<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="nav-wrapper">
    <div class="oj-flex-bar">
        <div class="nav-expander oj-flex-bar-start">
            <span class="ico-container">
                <i class="material-icons">menu</i>
            </span>
        </div>
        <div class="nav-expander-middle oj-margin-lg-start oj-margin-lg-end oj-flex-bar-middle">
            <div class="oj-flex-item">
                <div class="oj-flex-bar">
                    <div class="oj-flex-bar-start">
                        <span style="font-size: 30px; color: #fff;">CloudScope</span>
                    </div>
                    <div class="oj-flex-bar-end">
                        <img src="img/logo.png" alt="" style="height: 14px; margin-top: 23%;"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-expander oj-flex-bar-end"><span class="ico-container">
                <i class="material-icons">settings</i>
            </span>
        </div>
    </div>
</div>
