<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="oj-flex">
    <div class="header-wrapper oj-sm-12 oj-flex-item">
        <div class="oj-flex-bar">
            <div id="navigationIconLeft" class="header-start-item oj-flex-bar-start" data-bind="css: showHeaderNav()">
                <span class="ico-container">
                    <i class="material-icons">menu</i>
                </span>
            </div>
            <div class="header-branding oj-margin-lg-start oj-margin-lg-end oj-flex-bar-middle" data-bind="css: viewportSize() !== 'SM' ? 'oj-sm-align-items-center' : ''">
                <div class="oj-flex-item">
                    <div class="oj-flex-bar oj-sm-only-flex-direction-column oj-sm-align-items-center">
                        <div data-bind="css: viewportSize() !== 'SM' ? 'oj-flex-bar-start' : 'oj-sm-align-items-center'">
                            <span class="brand-logo">Hexi</span>
                            <span>Cloud</span>
                        </div>
                        <div data-bind="css: viewportSize() !== 'SM' ? 'oj-flex-bar-end' : 'oj-sm-align-items-center'">
                            <img src="img/logo.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-end-item oj-flex-bar-end" data-bind="css: showHeaderNav()">
                <span class="ico-container">
                    <i class="material-icons">notifications</i>
                </span>
            </div>
        </div>
    </div>
</div>
